/* TAGS */
.tag-container {
    @apply mb-2 flex flex-wrap items-center justify-start space-x-2 space-y-1
}

.tag-container-centered {
    @apply mb-2 flex flex-wrap items-center justify-center
}

.tag-sp {
    @apply px-2 py-1 bg-gray-200 text-sm mx-1 my-1 flex items-center cursor-pointer
}

.tag {
    @apply px-2 py-1 bg-gray-200 text-sm
}

.tag-red {
    @apply bg-red-400 text-white
}
.tag-theme {
    @apply bg-theme text-white
}
body {
    @apply bg-gray-100
}
.resp-container {
    @apply w-full px-2 md:px-4 lg:px-0 lg:mx-auto lg:w-4/5 2xl:w-2/3 3xl:w-1/2
}

.scale-200 {
    --tw-scale-x: 2;
--tw-scale-y: 2;
}

.panel {
    @apply mb-4 p-4 mx-2 md:mx-0
}

.panel-shadow {
    @apply shadow-lg
}

.panel-compact {
    @apply w-full md:mx-auto md:w-4/5 lg:w-3/5 xl:w-2/5 2xl:w-1/3
}

.panel-white {
    @apply bg-white
}

.panel-title {
    @apply text-2xl mb-4 text-center
}

.form-group {
    @apply w-full mb-4
}

.form-group-inline {
    @apply w-full mb-4 flex items-stretch
}

.form-input {
    @apply px-4 py-2 w-full shadow focus:outline-none
}

.form-select {
    @apply px-4 py-2 w-full shadow bg-white flex-1
}

.form-error {
    @apply px-2 py-1 bg-red-400 text-white text-sm rounded-t text-center
}

.form-success {
    @apply px-2 py-1 bg-green-500 text-white text-sm rounded-t text-center
}

.link {
    @apply text-theme
}

.link:hover {
    @apply text-theme-dark
}

.btn {
    @apply px-4 py-2
}

.btn-block {
    @apply w-full mb-4
}

.btn-theme {
    @apply bg-theme text-white
}

.btn-theme:hover {
    @apply bg-theme-dark text-white
}



::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
::-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}


/* width */
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

/* width */
.nobar::-webkit-scrollbar {
	width: 0;
	height: 0;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(85, 85, 85);
	border-radius: 10px;
}