/* TAGS */
.tag-container {
    @apply mb-2 flex flex-wrap items-center justify-start space-x-2 space-y-1
}
.tag-container-np {
@apply mb-2 flex flex-wrap items-center justify-start
}

.tag-container-centered {
    @apply mb-2 flex flex-wrap items-center justify-center
}

.tag-sp {
    @apply px-2 py-1 bg-gray-200 text-sm mx-1 my-1 flex items-center cursor-pointer
}

.tag {
    @apply px-2 py-1 bg-gray-200 text-sm dark:bg-dt-600
}

.tag-lg {
    @apply text-lg px-2 py-1 bg-gray-200 mr-2 mb-2 dark:bg-dt-600 rounded
}

.tag-red {
    @apply bg-red-400 text-white
}
.tag-theme {
    @apply bg-theme text-white dark:bg-dt-theme
}
body {
    @apply bg-gray-100
}
.resp-container {
    @apply w-full px-2 md:px-4 lg:px-0 lg:mx-auto lg:w-4/5 2xl:w-2/3 3xl:w-1/2
}

.scale-200 {
    --tw-scale-x: 2;
--tw-scale-y: 2;
}

.panel {
    @apply mb-4 p-4 mx-2 md:mx-0 rounded shadow
}

.panel-shadow {
    @apply shadow-lg
}

.panel-compact {
    @apply w-full md:mx-auto md:w-4/5 lg:w-3/5 xl:w-2/5 2xl:w-1/3
}

.panel-white {
    @apply bg-white dark:bg-dt-300 dark:text-white
}

.panel-title {
    @apply text-2xl mb-4 text-center
}

.page-title {
    @apply text-3xl text-center my-4 dark:text-white
}

.form-group {
    @apply w-full mb-4
}

.form-group-inline {
    @apply w-full mb-4 flex items-stretch
}

.form-group-inline-nm {
    @apply w-full flex items-stretch
}

.form-input {
    @apply px-4 py-2 w-full shadow focus:outline-none dark:bg-dt-700 rounded
}

.form-select {
    @apply px-4 py-2 w-full shadow bg-white flex-1
}

.form-error {
    @apply px-2 py-1 bg-red-400 text-white text-sm rounded-t text-center
}

.form-success {
    @apply px-2 py-1 bg-green-500 text-white text-sm rounded-t text-center
}

.link {
    @apply text-theme
}

.link:hover {
    @apply text-theme-dark
}

.btn {
    @apply px-4 py-2 text-center dark:bg-opacity-50 rounded
}

.flat > .btn {
    @apply rounded-none
}

.flat-t > .btn {
    @apply rounded-b rounded-t-none
}

.btn-block {
    @apply w-full mb-4
}

.btn-tall {
    @apply px-4 py-3 text-center rounded
}

.btn-theme {
    @apply bg-theme text-white dark:bg-dt-theme
}
.btn-red {
    @apply bg-red-400 text-white
}
.btn-green {
    @apply bg-green-500 text-white
}
.btn-yellow {
    @apply bg-yellow-400 text-white
}

.btn-theme-inv {
    @apply bg-white text-theme border border-theme;
    @apply dark:bg-dt-300
}

.btn-theme:hover {
    @apply bg-theme-dark text-white
}
.btn-red:hover {
    @apply bg-red-500 text-white
}
.btn-green:hover {
    @apply bg-green-600 text-white
}
.btn-yellow:hover {
    @apply bg-yellow-500 text-white
}
.btn-theme-inv:hover {
    @apply bg-theme text-white dark:bg-theme-dark
}

.form-group-inline > .btn ,
.form-group-inline-nm > .btn{
    @apply rounded-r rounded-l-none
}

.form-group-inline > .form-input,
.form-group-inline-nm > .form-input {
    @apply rounded-l rounded-r-none
}
.form-group-inline > input[type="number"]{
    @apply rounded-none
}
.form-group-inline > input[type="number"]:first-child{
    @apply rounded-l rounded-r-none
}
.form-group-inline > input[type="number"]:last-child{
    @apply rounded-r rounded-l-none
}

.btn-group {
    @apply flex flex-col md:flex-row
}
.btn-group-rev {
    @apply flex flex-col md:flex-row-reverse
}
.btn-group > .btn,
.btn-group-rev > .btn {
    @apply m-1 md:rounded-none md:m-0 md:border-r-0
}
.btn-group > .btn:first-child {
    @apply md:rounded-l
}

.btn-group > .btn:last-child {
    @apply md:rounded-r md:border-r
}
.btn-group-rev > .btn:first-child {
    @apply md:rounded-r
}

.btn-group-rev > .btn:last-child {
    @apply md:rounded-l md:border-r
}

.header {
    @apply mb-2 font-semibold text-lg
}
.modal-container {
    @apply fixed text-gray-500 flex items-center justify-center overflow-auto z-50 bg-black bg-opacity-40 left-0 right-0 top-0 bottom-0;
}

.modal {
    @apply w-full bg-white rounded-md shadow-2xl p-6 sm:w-10/12 lg:w-2/3 xl:w-1/3 mx-2;
}

.ctable {
    @apply table-auto w-full
}


.ctable-cell {
    @apply p-1 h-full
}
.ctable-cell.tall {
    @apply py-12
}
.ctable-cell.wide {
    @apply w-full pr-2
}

.ctable-row {
    @apply border-b border-gray-200 dark:border-dt-800
}

.pin {
    @apply top-0 bottom-0 left-0 right-0
}

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
::-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}


/* width */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

/* width */
.nobar::-webkit-scrollbar {
	width: 0;
	height: 0;
}

/* Track */
::-webkit-scrollbar-track {
	/* box-shadow: inset 0 0 5px grey; */
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(85, 85, 85);
}